vendor
node_modules
.git
.gitignore
.env
.env.backup
.env.production
*.log
.phpunit.result.cache
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/public/build
/public/hot
/bootstrap/cache/*.php
.idea
.vscode
.nova
.zed
.phpactor.json
tests
README.md